.btn{
    color:aliceblue;
    font-size: larger;
}

.somos{
    color: azure;
    text-align: justify;
}

.negrilla{
    font-weight: bold;
    color: azure;
}

.cajita{
    font-size: 2vw;
    text-align: justify;
    color: azure;
}